<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Página não Encontrada</title>

        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="bootstrap/css/bootstrap-thesme.min.css"/>
        <link rel="stylesheet" href="bootstrap/js/bootstrap.min.js"/>
        <link rel="stylesheet" type="text/css" href="css/global.css" />

        <style>

            .container-principal {
                box-sizing: border-box;
                width: 100%;
                padding: 2%;
                text-align: center;
                margin: 0 auto;
 
            }

            .erro{
                width: 35%;
                height: 215px;
                background-image: url(img/others/404-2.svg);
                background-repeat: no-repeat;
                border: none;
                background-size: cover;
                margin: 0 auto;
            }

            .jumbotron{
                width: 60%;
                border-radius: 10px;
                padding: 15px 0 15px 0;
                /*padding-bottom: 15px;*/
                text-align: center;
                margin: 0 auto;
                margin-top: 20px;
            }

            .home{
                margin-top: 20px;
                width: 200px;
                height: 50px;
                background: #3CB371 !important;
                border: none !important;
                color: #fff !important;
                text-shadow: none !important;
            }

        </style>

    </h:head>
    <h:body>

        <ol class="breadcrumb" style="background: white; font-size: 12px; margin-top: 20px;">
            <li><a href="index.xhtml">Home</a></li>
            <li class="active">Página não encontrada!</li>
        </ol>
        <div class="border-row" style="margin-bottom: 5px;"/>

        <div class="container-principal">

            <div class="erro"/>


            <div class="jumbotron">

                <h1>Oops!</h1>
                <h3>Página não encontrada</h3>
                <p>Desculpe, ocorreu um erro. Por favor, tente mais tarde.</p>

                <h:form>
                    <p:commandButton styleClass="home" value="Voltar para Início" 
                                     icon="ui-icon-carat-1-w" action="index.xhtml?faces-redirect=true"/>
                </h:form>

            </div>
        </div>
    </h:body>
</html>

