<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>

        <title>SIGPRO - Buscar Processo</title>

        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="bootstrap/css/bootstrap-thesme.min.css"/>
        <link rel="stylesheet" href="bootstrap/js/bootstrap.min.js"/>
        <link rel="stylesheet" type="text/css" href="css/global.css" />

        <style>

            .jumbotron{
                width: 75%;
                height: 200px;
                padding: 0;
                border-radius: 10px;
                padding-left: 15px;
                padding-right: 15px;
                background: #5B4141;
                
            }

        </style>


    </h:head>
    <h:body>
        <div id="container">

            <div id="menu">
                <ui:insert name="menulateral">
                    <ui:include src="menulateral.xhtml"/>
                </ui:insert>  
            </div>

            <div id="content">

                <ol class="breadcrumb" style="background: white; font-size: 12px; margin-left: -13px;">
                    <li><a href="index.xhtml">Home</a></li>
                    <li class="active">Buscar Processo</li>
                </ol>
                <div class="border-row" style="margin-bottom: 30px;"/>

                <div class="jumbotron">

                    <p style="font-weight: bold; color: #fff; margin-left: 20px; padding-top: 30px">Buscar Processos:</p>

                    <div class="container-busca">
                        <h:form>
                            <h:selectOneMenu styleClass="bt-down" id="car" value="#{consultaMB.filtro}">
                                <f:selectItem itemLabel="Assunto" itemValue="assunto" />
                                <f:selectItem itemLabel="Unidade" itemValue="unidade" />
                                <f:selectItem itemLabel="Nome do Interessado" itemValue="interessado" />
                                <f:selectItem itemLabel="N° do Processo" itemValue="numprocesso" />
                            </h:selectOneMenu>

                            <p:inputText class="campo-de-busca" required="true" 
                                         requiredMessage="Preencha o campo com a palavra-chave" 
                                         placeholder="Digite a Palavra-Chave" value="#{consultaMB.palavraChave}"/>

                            <p:commandButton class="bt-buscar" value="Buscar" 
                                             icon="ui-icon-circle-zoomout" 
                                             actionListener="#{consultaMB.buscarProcesso()}" 
                                             update=":formProcessosFiltrados:processosFiltrados, @form"/>

                            <p:messages globalOnly="true" closable="true" showSummary="false"/>
                        </h:form>
                    </div>
                </div>

                <div class="container-central">

                    <h:form prependId="false" id="formProcessosFiltrados">

                        <p style="color: #333; margin-left: 0;">Processos encontrados:</p>

                        <p:dataTable value="#{consultaMB.dataModelConsultaProcesso}" 
                                     var="processo" styleClass="table table-striped table-responsive tabela-organizada"
                                     paginator="true" style="font-size:14px !important"
                                     id="processosFiltrados" 
                                     rowsPerPageTemplate="10,15"
                                     rows="10" emptyMessage="Nenhum processo encontrado." >

                            <div class="tabela">
                                <p:column headerText="#" style="width: 20%;">
                                    #{processo.codigo}
                                </p:column>

                                <p:column headerText="Assunto">
                                    #{processo.assunto}
                                </p:column>

                                <p:column headerText="Data">
                                    <h:outputText value="#{processo.dataCadastro}">
                                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm"/>
                                    </h:outputText>
                                </p:column>

                                <p:column headerText="Solicitante">
                                    #{processo.solicitante.nome}
                                </p:column>

                                <p:column headerText="Status">
                                    #{processo.statusProcesso}
                                </p:column>

                            </div>
                        </p:dataTable>
                    </h:form>

                </div>
            </div>
        </div>
    </h:body>
</html>

