<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>SIGPRO - Detalhes do Processo</title>
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="bootstrap/js/bootstrap.min.js"/>
        <link rel="stylesheet" type="text/css" href="css/global.css" /> 

        <style>

            .formulario{
                text-align: initial; 
                width: 40%; 
                display: inline-block;
                margin-top: 15px;
            }

            .paginacao{
                background: white; 
                font-size: 12px;
                margin-left: -13px;
            }
            
        </style>
    </h:head>
    <h:body>
        <div id="container">

            <div id="menu">
                <ui:insert name="menulateral">
                    <ui:include src="menulateral.xhtml"/>
                </ui:insert>  
            </div>


            <div id="content">

                <ol class="breadcrumb paginacao">
                    <li><a href="index.xhtml">Home</a></li>
                    <li><a href="processo-entrada.xhtml">Caixa de entrada</a></li>
                    <li class="active">Detalhes</li>
                </ol>


                <h3>Processo <h:outputText value="#{detalheMB.processo.codigo}"/></h3>

                <div class="border-row"/>


                <div class="container-central">

                    <h4>Informações Gerais do Processo</h4>

                    <h:form class="formulario">

                        <p:outputPanel id="outPutPanel">

                            <p:panelGrid columns="2" class="table table-striped table-responsive" >

                                <h:outputLabel value="N° do processo: " style="font-weight: bold; font-size: 14px; width: 250px"  />
                                <h:outputText  value="#{detalheMB.processo.codigo}" style="width: 300px;"/>

                                <h:outputLabel value="Data do cadastro: " style="font-weight: bold; font-size: 14px; width: 250px"/>
                                <h:outputText  value="#{detalheMB.processo.dataCadastro}"/>

                                <h:outputLabel value="Situação: " style="font-weight: bold; font-size: 14px; width: 250px"/>
                                <h:outputText  value=""/>

                                <h:outputLabel value="Assunto: " style="font-weight: bold; font-size: 14px; width: 250px"/>
                                <h:outputText  value=""/>

                                <h:outputLabel value="Interessado: " style="font-weight: bold; font-size: 14px; width: 250px "/>
                                <h:outputText  value=""/>

                            </p:panelGrid>

                        </p:outputPanel>

                    </h:form>

                    <h4>Histórico</h4>
                    <p:dataTable value="#{detalheMB.processo.encaminhamentos}" 
                                 var="encaminhamento" styleClass="table table-striped tabela-organizada table-responsive"
                                 paginator="true" style="margin-top: 15px;"
                                 rowsPerPageTemplate="5,10,15"
                                 rows="5">

                        <div class="tabela">
                            <p:column headerText="Origem" style="">
                                #{encaminhamento.unidadeOrigem.nome}
                            </p:column>
                            <p:column headerText="Enviado em">
                                #{encaminhamento.dataEncaminhamento}
                            </p:column>

                            <p:column headerText="Enviado por">
                                #{encaminhamento.usuarioQueEncaminha.nome}
                            </p:column>                            

                            <p:column headerText="Destino" style="">
                                #{encaminhamento.unidadeDestino.nome}

                            </p:column>
                            <p:column headerText="Recebido em">

                            </p:column>
                            <p:column headerText="Recebido por">
                                #{encaminhamento.usuarioQueRecebe.nome}

                            </p:column>

                            <p:column headerText="Status">
                                #{encaminhamento.status}
                            </p:column>

                        </div>

                    </p:dataTable>

                </div>
            </div>
        </div>
    </h:body>
</html>

