<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>SIGPRO - Encaminhar Processo</title>
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="bootstrap/js/bootstrap.min.js"/>
        <link rel="stylesheet" type="text/css" href="css/global.css" /> 

        <style>
            .container-receber-processo{
                width: 75%;
                background-color: #f9f9f9;
                border-radius: 8px;
                margin-top: 40px;
                padding: 10px 20px 10px 20px;

            }
            .formulario{
                display: block;
                width: auto;
                margin-top: 30px;
            }

            .ui-inputfield, .ui-inputtextarea {
                margin-top: 7px;
                margin-bottom: 3%;
                padding: 8px;
                display: block;
                width: 100% !important;
            }

            .bt-cancelar{
                width: 130px !important;
            }

            .bt-encaminhar{
                margin-left: 0;
            }

        </style>
    </h:head>
    <h:body>
        <div id="container">

            <div id="menu">
                <ui:insert name="menulateral">
                    <ui:include src="menulateral.xhtml"/>
                </ui:insert>  
            </div>


            <div id="content">

                <ol class="breadcrumb" style="background: white; font-size: 12px; margin-left: -13px;">
                    <li><a href="index.xhtml">Home</a></li>
                    <li><a href="pendente.xhtml">Processos Pendentes</a></li>
                    <li class="active">Encaminhar Processos</li>
                </ol>
                <div class="border-row"/>

                <div class="container-receber-processo">
                    <h4>Encaminhar Processo</h4>

                    <h:form class="formulario">
                        <p:outputLabel value="Despacho: "/>

                        <p:inputTextarea rows="7"/>

                        <p:outputLabel value="Anexar arquivos:"/>
                        <br></br>

                        <p:fileUpload fileUploadListener="#{processoMB.uploadDocumento}" 
                                      mode="advanced" 
                                      multiple="true"
                                      dragDropSupport="false"
                                      sizeLimit="10000000" 
                                      allowTypes="/(\.|\/)(pdf|doc|docx)$/"
                                      cancelLabel="Cancelar"
                                      label="Selecionar Arquivo"
                                      uploadLabel="Enviar Arquivos"
                                      style="margin-bottom: 30px; margin-top: 6px;"
                                      update="tabelaDeAnexos"/>

                        <p:dataTable value="#{processoMB.dataModelAnexos}" 
                                     var="arquivo" styleClass="table table-striped tabela-organizada table-responsive"        
                                     id="tabelaDeAnexos" style="padding-bottom: 30px;"
                                     emptyMessage="Nenhum arquivo adicionado." >

                            <div class="tabela">

                                <p:column headerText="Arquivo(s) adicionado(s)" style="width: 80%">
                                    #{arquivo.nome}
                                </p:column>
                                <p:column headerText="Ação" style="width: 20%">
                                    <p:commandButton value="Remover" icon="ui-icon-alert"
                                                     class="bt-remover" 
                                                     actionListener="#{processoMB.removeArquivo()}"
                                                     process="@this"
                                                     update="tabelaDeAnexos"/>
                                </p:column>
                            </div>
                        </p:dataTable>

                        <p:outputLabel value="Unidade de Destino:" for="completaUnidade" />
                        <br></br>
                        
                        <p:autoComplete id="completaUnidade" 
                                        value="#{encaminhaMB.unidade}" 
                                        completeMethod="#{encaminhaMB.completeUnidade}"
                                        var="unidade" 
                                        itemLabel="#{unidade.nome}" 
                                        itemValue="#{unidade}" 
                                        converter="unidadeConverter" 
                                        forceSelection="true"
                                        style="height: 40px; width: 100%;"/>
 
                        <br></br>
                        <br></br>


                        <p:commandButton value="Encaminhar" styleClass="bt-encaminhar" icon="ui-icon-check"/>

                        <p:commandButton value="Cancelar" styleClass="bt-cancelar" icon="ui-icon-close" action="entrada.xhtml"/>

                    </h:form>


                </div>
            </div>
        </div>
    </h:body>
</html>

