<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>SIGPRO</title>
        <link href= "bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
        <link href= "bootstrap/css/bootstrap-theme.css" rel="stylesheet"/>
        <link href= "bootstrap/css/bootstrap.css" rel="stylesheet"/>
        <script src="bootstrap/js/jquery.min.js"></script>
        <!--<script src="bootstrap/js/bootstrap.min.js"></script>-->
        <link href="css/global.css" rel="stylesheet" type="text/css"/>

        <style>
            .procura{
                padding-top: 8px;
            }
            .procura-botao{
                padding-top: 12px;
            }
            .campo-busca{
                margin-top: 1px;
                margin-left: 5%;
                border-radius: 3px;
                /*                padding-right: 100%;*/
                width: 300%;
                height: 130%;
            }
            bt-procurar{
                padding-top: 5px;
                margin-left: 5%;
                border-radius: 3px;
            }
        </style>

    </h:head>
    <h:body>
        FAZER PAGINA DE ESQUECI A SENHA
    </h:body>
</html>

