<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>SIGPRO - Home</title>
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="bootstrap/js/bootstrap.min.js"/>

        <style>

            .container-inicio{
                margin: 50px;
                padding: 25px;
                border-radius: 10px;

            }

            .help{
                border: 1px solid #fff;
                border-left-width: 5px;
                border-left-color: #fb9351;

            }

            .sair{
                text-align: right;
                background: red;
            }

            .ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td{
                padding: 0;
                color: #fff !important; 
                background: #fff !important;
                background-color: #fff !important;
            }

        </style>

    </h:head>
    <h:body>

        <div id="container">

            <div id="menu">
                <ui:insert name="menulateral">
                    <ui:include src="menulateral.xhtml"/>
                </ui:insert>  
            </div>

            <div id="content">

                <div class="jumbotron container-inicio" style="background: #f9f9f9">
                    <h2>Bem-vindo(a) ao SIGPRO!</h2>
                    <br></br>
                    <p>O SIGPRO é um Sistema de Gerenciamento de Processos Administrativos 
                        que auxilia os servidores e os estudantes ao realizar um novo processo
                        administrativo na instituição. </p>

                </div>

                <div class="jumbotron container-inicio help" style="background: #f9f9f9;">
                    <p>Ajuda:</p>
                    <p>Clique no menu ao lado para ter acesso as funcionalidades do sistema.</p>
                </div>
                
                <!--NÃO APAGAR DESDE AQUI - NUNCA-->
                <p:dataTable emptyMessage="" style="width: 0px; height: 0px; 
                             color: #fff !important; background: #fff !important;
                             background-color: #fff !important;
                             padding: 0; margin: 0;"/>
                <!--NÃO APAGAR ATÉ AQUI - NUNCA-->
                
                
            </div>


            <div id="rodape">
                akueaierugha
            </div>
            
        </div>
    </h:body>
</html>

