<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>SIGPRO - Login</title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link href="css/login-style.css" rel="stylesheet" type="text/css"/>

        <style>
            a{
                font-size: 13px;
            }
            img{
                width: 150px;
                height: 150px;
                text-align: center;
            }

            .row{
                margin-top: 70px;
                border-bottom: 1px solid #ddd;
            }

            .bt-logar{
                text-align: center;
                position: relative;
                width: 90%;
                margin: 0 5%;
                border: none !important;
                background: #3cce3c !important;
                color: #fff;
                margin-top: 15px;
                padding: 10px;

            }
            
            .campo-login{
                border: none !important;
                font-size: 12px; 
                
            }
        </style>

    </h:head>
    <h:body>

        <div class="login"> 

            <a href="#" title="" style="text-align: center !important; display: block;">
                <img src="img/logo/sigprobranco.png" alt=""/>
            </a>

            <h:form class="form">

                <!--<form class="form" method="post" action="">-->

                <p class="field campo-login">
                    <p:inputText placeholder="Login" required="true" requiredMessage="Campo obrigatório"/>
                    <!--<input type="text" name="login" placeholder="Login" required="true"/>-->

                    <p:password placeholder="Senha" required="true" requiredMessage="Campo obrigatório"/>
                    <!--<input type="password" name="password" placeholder="Senha" required="true"/>-->
                </p>

                <p:commandButton value="ENTRAR" class="bt-logar"/>

                <!--                <p class="submit field">
                                    <input type="submit" name="commit" value="Entrar"/>
                                </p>-->

                <p class="forgot">
                    <a href="esqueci-senha.xhtml">Esqueci minha senha</a>
                </p>

            </h:form>
            <!--</form>-->
        </div>

        <div class="row"/>

        <div class="copyright">

            Copyright © - Desenvolvido por <a href="">Elisiany Oliveira</a> 
            <br></br>
            Todos os direitos reservados.
        </div>
    </h:body>
</html>

