<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="css/menu-lateral.css" />

        <script type="text/javascript" src="js/libs/jquery/jquery.js"/>
        <script>
            jQuery.noConflict(true);
        </script>

    </h:head>
    <h:body>

        <button id="bt-menu"></button>

        <ul>
            <li>
                <a href="/SigPro-app" title="Home" id="link-home">
                    <h1>SIGPRO</h1>
                </a>
            </li>
            <li>
                <a href="buscar-processo.xhtml" title="Buscar" id="link-buscar" >
                    <span class="icon"></span>
                    <span class="text">Buscar Processo</span>
                </a>
            </li>
            <li>
                <a href="novo-processo.xhtml" title="Novo Processo" id="link-novo-processo">
                    <span class="icon"></span>
                    <span class="text">Novo Processo</span>
                </a>
            </li>
            <li>
                <a href="processo-entrada.xhtml" title="Caixa de Entrada" id="link-entrada">
                    <span class="icon"></span>
                    <span class="text">Caixa de Entrada</span>
                </a>
            </li>
            <li>
                <a href="processo-pendente.xhtml" title="Processos Pendentes" id="link-pendente">
                    <span class="icon"></span>
                    <span class="text">Processos Pendentes</span>
                </a>
            </li>
            <li>
                <a href="processo-saida.xhtml" title="Caixa de Saída" id="link-saida">
                    <span class="icon"></span>
                    <span class="text">Caixa de Saída</span>
                </a>
            </li>
            <li>
                <a href="login.xhtml" title="Sair" id="link-sair">
                    <span class="icon"></span>
                    <span class="text">Sair</span>
                </a>
            </li>
        </ul>

        <script type="text/javascript">
            $('#bt-menu').click(function () {
                if ($('#menu > ul').css('width') === "0px") {
                    $('#menu > ul').addClass("show");
                    $('#content').addClass("resize");
                } else {
                    $('#menu > ul').removeClass("show");
                    $('#content').removeClass("resize");
                }
            });
        </script>
    </h:body>
</html>

