<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title>SIGPRO - Novo Processo</title>
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="bootstrap/js/bootstrap.min.js"/>
        <link rel="stylesheet" type="text/css" href="css/global.css" /> 
        <link rel="stylesheet" type="text/css" href="css/estilo-novo-processo.css" /> 

    </h:head>
    <h:body id="body">
        <div id="container">

            <div id="menu">
                <ui:insert name="menulateral">
                    <ui:include src="menulateral.xhtml"/>
                </ui:insert>  
            </div>

            <div id="content">

                <ol class="breadcrumb paginacao">
                    <li><a href="index.xhtml">Home</a></li>
                    <li class="active">Novo Processo</li>
                </ol>
                <div class="border-row"/>

                <div class="container-enviar-processo">

                    <h4 style="font-weight: bold;">Realizar pedido de abertura de processo</h4>

                    <h:form class="formulario">

                        <p:outputLabel value="Assunto: "/>

                        <p:inputText placeholder="Informe o assunto do processo" class="input-estilo" 
                                     required="true" requiredMessage="Campo Assunto Obrigatório"
                                     value="#{processoMB.processo.assunto}"/>

                        <p:outputLabel value="Anexar arquivos:"/>
                        <br></br>

                        <p:fileUpload fileUploadListener="#{processoMB.uploadDocumento}" 
                                      mode="advanced" 
                                      multiple="true"
                                      dragDropSupport="false"
                                      sizeLimit="10000000" 
                                      allowTypes="/(\.|\/)(pdf|doc|docx)$/"
                                      cancelLabel="Cancelar"
                                      label="Selecionar Arquivo"
                                      uploadLabel="Enviar Arquivos"
                                      style="margin-bottom: 30px; margin-top: 6px;"
                                      update="tabelaDeAnexos"/>

                        <p:dataTable value="#{processoMB.dataModelAnexos}" 
                                     var="arquivo" styleClass="table table-striped tabela-organizada table-responsive"        
                                     id="tabelaDeAnexos" style="padding-bottom: 30px;"
                                     emptyMessage="Nenhum arquivo adicionado." >

                            <div class="tabela">

                                <p:column headerText="Arquivo(s) adicionado(s)" style="width: 80%">
                                    #{arquivo.nome}
                                </p:column>
                                <p:column headerText="Ação" style="width: 20%">
                                    <p:commandButton value="Remover" icon="ui-icon-alert"
                                                     class="bt-remover" 
                                                     actionListener="#{processoMB.removeArquivo()}"
                                                     process="@this"
                                                     update="tabelaDeAnexos"/>
                                </p:column>
                            </div>
                        </p:dataTable>

                        <p:commandButton value="Enviar" styleClass="bt-enviar" icon="ui-icon-check"
                                         actionListener="#{processoMB.salvaProcesso()}" update="@form"/>

                        <p:commandButton value="Cancelar" styleClass="bt-cancelar" icon="ui-icon-closethick" immediate="true">
                            <p:confirm header="Deseja continuar?" message="Todos os dados serão perdidos!" icon="ui-icon-alert" />
                        </p:commandButton>


                    </h:form>
                        <p:confirmDialog  global="true" showEffect="blind" hideEffect="clip" appendTo="body">
                            <h:form>
                                <p:commandButton process="@this" value="Sim" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" 
                                                 action="index.xhtml?faces-redirect=true" />
                                <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
                            </h:form>

                        </p:confirmDialog>

                    <p:growl id="messages" showDetail="true" life="4000" autoUpdate="true"/>
                    <!--<p:messages showDetail="true" autoUpdate="true" showIcon="true" closable="true" />--> 

                </div>
            </div>
        </div>
    </h:body>
</html>

