<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title>SIGPRO - Processos pendentes</title>
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="bootstrap/js/bootstrap.min.js"/>
        <link rel="stylesheet" type="text/css" href="css/global.css" /> 

    </h:head>
    <h:body>
        <div id="container">

            <div id="menu">
                <ui:insert name="menulateral">
                    <ui:include src="menulateral.xhtml"/>
                </ui:insert>  
            </div>

            <div id="content">

                <ol class="breadcrumb" style="background: white; font-size: 12px; margin-left: -13px;">
                    <li><a href="index.xhtml">Home</a></li>
                    <li class="active">Processos Pendentes</li>
                </ol>
                <div class="border-row"/>

                <div class="container-central">
                    <p>Processos recebidos aguardando seu encaminhamento</p>

                    <h:form>

                        <p:dataTable value="#{pendenteMB.dataModelPendente}" 
                                     var="pendente" styleClass="table table-striped tabela-organizada table-responsive"
                                     paginator="true" id="caixapendente"
                                     rowsPerPageTemplate="5,10,15"
                                     rows="5" emptyMessage="Nenhum processo na caixa de Processos Pendentes.">

                            <div class="tabela">
                                <p:column headerText="Código do Processo" style="width: 210px">
                                    <h:commandLink style="color:#fb9351" 
                                                   value="#{pendente.processo.codigo}"
                                                   action="detalhe-processo.xhtml">
                                        <f:param name="codigoProcesso" value="#{pendente.processo.codigo}" />
                                    
                                    </h:commandLink>
                                    
                                </p:column>

                                <p:column headerText="Assunto">
                                    #{pendente.assunto}
                                </p:column>

                                <p:column headerText="Data">
                                    <h:outputText value="#{pendente.dataEncaminhamento}">
                                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm"/>
                                    </h:outputText>                                   

                                </p:column>

                                <p:column headerText="Despacho">
                                    #{pendente.despacho}
                                </p:column>

                                <p:column headerText="Unidade Origem">
                                    #{pendente.unidadeOrigem}
                                </p:column>

                                <p:column headerText="Unidade Destino">
                                    #{pendente.unidadeDestino}
                                </p:column>      
                                <p:column headerText="Ação" style="width: 270px;">
                                    <p:commandButton value="Encaminhar" icon="ui-icon-info" class="bt-encaminhar"
                                                     update="@form"
                                                     action="encaminhar-processo.xhtml" />


                                    <p:commandButton value="Arquivar" icon="ui-icon-disk" class="bt-arquivar"
                                                     update="@form"
                                                     actionListener="#{pendenteMB.arquivaProcesso()}"/>

                                </p:column>
                            </div>
                        </p:dataTable>
                    </h:form>
                    <p:messages showDetail="true" autoUpdate="true" closable="true" /> 
                </div>
            </div>
        </div>
    </h:body>
</html>

