<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title>SIGPRO - Caixa de Saída</title>

        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="bootstrap/js/bootstrap.min.js"/>
        <link rel="stylesheet" type="text/css" href="css/global.css" /> 

    </h:head>
    <h:body>
        <div id="container">

            <div id="menu">
                <ui:insert name="menulateral">
                    <ui:include src="menulateral.xhtml"/>
                </ui:insert>  
            </div>


            <div id="content">

                <ol class="breadcrumb" style="background: white; font-size: 12px; margin-left: -13px;">
                    <li><a href="index.xhtml">Home</a></li>
                    <li class="active">Caixa de saída</li>
                </ol>
                <div class="border-row"/>

                <div class="container-central">

                    <p>Processos aguardando o recebimento pelo setor de destino</p>

                    <p:dataTable value="#{saidaMB.dataModelSaida}" 
                                 var="saida" styleClass="table table-striped tabela-organizada table-responsive"
                                 paginator="true"
                                 rowsPerPageTemplate="5,10,15"
                                 rows="5" emptyMessage="Nenhum processo na caixa de saída.">

                        <p:column headerText="#">
                            #{saida.id}
                        </p:column>
                        
                        <p:column headerText="Assunto">
                            #{saida.assunto}
                        </p:column>
                        
                        <p:column headerText="Data">
                            <h:outputText value="#{saida.dataEncaminhamento}">
                                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm"/>
                                    </h:outputText>                                   
                                    
                        </p:column>
                        
                        <p:column headerText="Despacho">
                            #{saida.despacho}
                        </p:column>
                        
                        <p:column headerText="Unidade Origem">
                            #{saida.unidadeOrigem}
                        </p:column>
                        
                        <p:column headerText="Unidade Destino">
                            #{saida.unidadeDestino}
                        </p:column>                       
                        
                        <p:column headerText="Ação">
                            <p:commandButton value="desfazer trâmite"/>
                        </p:column>
                        
                    </p:dataTable>
                </div>
            </div>
        </div>
    </h:body>
</html>

