<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title>SIGPRO - Caixa de Entrada</title>

        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="bootstrap/js/bootstrap.min.js"/>
        <link rel="stylesheet" type="text/css" href="css/global.css" /> 

    </h:head>
    <h:body>
        <div id="container">
            
            <div id="menu">
                <ui:insert name="menulateral">
                    <ui:include src="menulateral.xhtml"/>
                </ui:insert>  
            </div>

            <div id="content">

                <ol class="breadcrumb" style="background: white; font-size: 12px; margin-left: -13px;">
                    <li><a href="index.xhtml">Home</a></li>
                    <li class="active">Caixa de entrada</li>
                </ol>
                <div class="border-row"/>

                <div class="container-central">
                    <p>Processos aguardando seu recebimento</p>

                    <h:form>
                        <p:dataTable value="#{entradaMB.dataModelEntrada}" 
                                     var="entrada" styleClass="table table-striped tabela-organizada table-responsive"
                                     paginator="true"
                                     id="caixadeentrada"
                                     rowsPerPageTemplate="5,10,15"
                                     rows="5" emptyMessage="Nenhum processo na caixa de Entrada." >

                            <div class="tabela">
                                <p:column headerText="Código do Processo" style="width: 20%">
                                    <h:commandLink style="color:#fb9351" 
                                                   value="#{entrada.processo.codigo}"
                                                   action="detalhe-processo.xhtml">
                                        <f:param name="codigoProcesso" value="#{entrada.processo.codigo}" />
                                    
                                    </h:commandLink>
                                    
                                </p:column>

                                <p:column headerText="Assunto" style="width: 15%">
                                    #{entrada.assunto}
                                </p:column>

                                <p:column headerText="Data" style="width: 10%">

                                    <h:outputText value="#{entrada.dataEncaminhamento}">
                                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm"/>
                                    </h:outputText>                                   

                                </p:column>

                                <p:column headerText="Despacho">
                                    #{entrada.despacho}
                                </p:column>

                                <p:column headerText="Unidade Origem" style="width: 13%">
                                    #{entrada.unidadeOrigem}
                                </p:column>

                                <p:column headerText="Unidade Destino" style="width: 13%">
                                    #{entrada.unidadeDestino}
                                </p:column>                       
                                <p:column headerText="Ação" style="width: 12%;">
                                    <p:commandButton value="Receber" icon="ui-icon-alert"
                                                     class="bt-receber" update="@form"
                                                     actionListener="#{entradaMB.receberProcesso()}"/>
                                </p:column>
                            </div>
                        </p:dataTable>
                    </h:form>
                    <p:messages showDetail="true" autoUpdate="true" closable="true" /> 
                </div>
            </div>
        </div>
    </h:body>
</html>

