<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>SIGPRO - Receber Processo</title>
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="bootstrap/js/bootstrap.min.js"/>
        <link rel="stylesheet" type="text/css" href="css/global.css" /> 

        <style>
            .container-receber-processo{
                width: 65%;
                background-color: #f9f9f9;
                border-radius: 8px;
                margin-top: 40px;
                padding: 10px 20px 10px 20px;

            }
            .formulario{
                display: block;
                width: auto;
                margin-top: 30px;
            }

            .ui-inputfield, .ui-inputtextarea {
                margin-top: 7px;
                margin-bottom: 3%;
                padding: 8px;
                display: block;
                width: 100% !important;
                /*height: 50%;*/
            }

            .bt-receber{
                width: 110px !important;
                height: 37px !important;
                background: #3CB371 !important;
                color: #ffffff !important;
                border: none;
                margin: 10px 0 20px 0 !important;


            }

            .bt-cancelar{
                width: 110px !important;
                height: 37px !important;
                background: #d9534f !important;
                color: #ffffff !important;
                border: none;
                margin: 10px 0 20px 1% !important;
            }
        </style>
    </h:head>
    <h:body>
        <div id="container">

            <div id="menu">
                <ui:insert name="menulateral">
                    <ui:include src="menulateral.xhtml"/>
                </ui:insert>  
            </div>


            <div id="content">

                <ol class="breadcrumb" style="background: white; font-size: 12px; margin-left: -13px;">
                    <li><a href="index.xhtml">Home</a></li>
                    <li class="active">Caixa de entrada</li>
                </ol>
                <div class="border-row"/>

                <div class="container-receber-processo">
                    <h4>Receber Processo</h4>

                    <h:form class="formulario">
                        <p:outputLabel value="Despacho: "/>
                        <p:inputTextarea rows="7"/>

                        <p:commandButton value="Receber" styleClass="bt-receber" icon="ui-icon-check"/>
                        <p:commandButton value="Cancelar" styleClass="bt-cancelar" icon="ui-icon-close"/>
                    </h:form>


                </div>
            </div>
        </div>
    </h:body>
</html>

