<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script type="text/javascript" src="js/libs/jquery/jquery.js"></script>
        <style>

            .rodape{
            }

            #footer{

                /*display: block;*/
                position: relative;
                width: 90%;
                bottom: 0;
                margin: 15px;
                padding: 50px;

            }

            .row{
                border-bottom: solid 1px #bcc7cf;
            }

            a{
                margin-top: 200px;
            }
        </style>
    </h:head>
    <h:body>



        <div id="footer">
            <div class="row"/>

            <a href="#"> Elisiany Oliveira</a>

        </div>

    </h:body>
</html>

