/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/11/2014, 10:59:04
    Author     : elisiany
*/

.formulario{
    display: block;
    width: auto;
    margin-top: 30px;
}

.ui-inputfield{
    margin: 6px 15px 20px 0px;
    padding: 8px;
    display: block;
    width: 100% !important;

}

.bt-enviar{
    width: 110px;
    height: 37px;
    /*background: #3CB371 !important;*/
    background: #00CD66 !important;
    color: #ffffff !important;
    border: none !important;
    margin: 10px 0 20px 0;
    text-shadow: none !important;

}
.bt-cancelar{
    width: 110px;
    height: 37px;
    background: #C9302C !important;
    /*background: #d9534f !important;*/
    color: #ffffff !important;
    border: none !important;
    margin: 10px 0 20px 1%;
    text-shadow: none !important;

}

.container-enviar-processo{
    width: 75%;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-top: 40px;
    padding: 10px 20px 10px 20px;

}
