/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/11/2014, 17:28:31
    Author     : Elisiany
*/

.editor-novo-processo{
    padding: 100px;
    margin: 10px;
    margin-top: 43px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.esquecisenha{


}

.coluna{
    width: 40px;                
}

.tabela-organizada{
    text-align: center;
    font-size: 12px;

}

html{
    background-color: white;
}

.border-row {
    border-bottom: 1px solid #ddd;
}

p{
    margin: 20px 20px 20px 0; 
    font-family: "Segoe Ui";
    font-size: 18px;
    font-weight: bold;
}

.tabela td{
    font-size: 12px !important;
}

td{
    font-size: 12px;

}

.container-central{
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-top: 10px;
    padding: 10px 20px 10px 20px;

}

.bt-receber {    
    background: #C9302C !important;
    color: #ffffff !important;
    border: none !important;
    text-shadow: none !important;
    font-size: 14px !important;
}

.input-estilo{
    width: 550px;
    padding: 3px;
    margin-top: 20px;
}
.input-estilo:focus{
}

.paginacao{
    background: white; 
    font-size: 12px;
    margin-left: -13px;
}


.container-busca{
    margin-top: 25px;
    margin-left: 20px;
}

.campo-de-busca{
    border: none !important;
    width: 60%;
    height: 52px;
    padding: 10px;
    border-color: #cccccc;
}

.bt-down{
    width: 20%;
    height: 53px;
    /*border: 1px solid #cccccc;*/
    border: none !important;
    padding: 16px;
    border-radius: 4px;
    margin-right: 5px;
    font-size: 14px;
}

p{
    font-weight: bold;
    font-size: 18px !important;

}

.bt-buscar{
    width: 17%;
    height: 52px;
    margin-left: 5px;
    border: none !important;
    text-shadow: none !important;
    background: #fff !important;

}

th{
    font-weight: bold !important;
    /*background: #3CB371 !important;*/
    /*border: none !important;*/
}

.bt-remover {    
    background: #C9302C !important;
    color: #ffffff !important;
    border: none !important;
    text-shadow: none !important;
    font-size: 14px !important;
}


.bt-encaminhar{
    background: #00CD66 !important;
    width: 130px;
    height: 37px;
    color: #ffffff !important;
    border: none !important;
    margin: 10px 0 20px 1%;
    text-shadow: none !important;

}

.bt-arquivar{
    font-size: 14px !important;
    width: 120px;
    background: #FF7F00 !important;
    color: #ffffff !important;
    border: none !important;
    text-shadow: none !important;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.bt-cancelar{
    width: 110px;
    height: 37px;
    background: #C9302C !important;
    color: #ffffff !important;
    border: none !important;
    margin: 10px 0 20px 1%;
    text-shadow: none !important;

}