/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08/10/2014, 15:16:20
    Author     : Elisiany
*/

/*@import "http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css";*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

body {
    font: 13px/20px "Open Sans", sans-serif, Tahoma, Verdana;
    color: #1C1C1C; 
    background-image: url("../img/back/back.svg");
    background-color: #f9f9f9;
    /*background-repeat: no-repeat;*/
    background-size: 100%;
}


/* === Form === */
.form {
    width: 100%;
}

.form .field {
    position: relative;
    width: 90%;
    margin: 0 5%;

}

.form .field i {
    font-size: 16px;
    left: 0px;
    top: 10px;
    position: absolute;
    height: 44px;
    width: 44px;
    color: #f7f3eb;
    background: #676056;
    text-align: center;
    line-height: 44px;
    transition: all 0.3s ease-out;
    pointer-events: none;

}

/* === Logo === */
.logo {
    background-image: url("../img/logo/sigprobranco.png");
    background-position: center;
    text-align: center;
    height: 80px;
    width: 155px;
    margin: 100px auto 70px auto;
}

/* === Login === */
.login {
    position: relative;
    margin: 0 auto;
    margin-top: 60px;
    width: 370px;
    height: 420px;
    background: #363636;
    border-radius: 10px;
    padding-top: 20px;

}

.login:before {
    position: absolute;
    border-radius: 5px;
}


.login p:first-child {
    margin-top: 15px;
}

.login p.submit {
    text-align: center;
}

.login p.forgot {
    float: right;
    margin-right: 20px;
    margin-bottom: 10px;
    font: 13px/20px "Open Sans", Tahoma, Verdana, sans-serif;
}

.login p.forgot a {
    font: 13px/20px "Open Sans", Tahoma, Verdana, sans-serif;
    color: #a7a599;
    font-size: 12px;
    text-decoration: none;
    font-style: italic;
    transition: all 0.3s ease-out;
}

.login p.forgot a:hover {
    color: #32CD32;
}

/* === Input Form === */
::-webkit-input-placeholder {
    color: #ded9cf;
    font-family:'Open Sans';
}

:-moz-placeholder {
    color: #ded9cf !important;
    font-family:'Open Sans';
}

.form input[type=text],
.form input[type=password] {
    font-family: 'Open Sans', Calibri, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 15px;
    position: relative;
    width: 100%;
    color: black;
    border: 1px solid #cdcdcd;
    background: #f9f9f9;
    color: #000;
    border-radius: 5px;
    box-sizing: border-box;
    transition: color 0.3s ease-out;
}

.form input[type=text] {
     margin-top: 20px; 
    margin-bottom: 15px;
   
}

.form input[type=text]:hover ~ i,
.form input[type=password]:hover ~ i {
    color: #ded9cf;
}

.form input[type=text]:focus ~ i,
.form input[type=password]:focus ~ i {
    color: #3D8840;
}

.form input[type=text]:focus,
.form input[type=password]:focus,
.form button[type=submit]:focus {
    outline: none;
}

.form input[type=submit] {
    margin-top: 15px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 15px;
    letter-spacing: 0;
    color: #fff;
    background-color: #00CD66; 
    text-shadow: none;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    position: relative;
    margin-bottom: 20px;
    border-radius: 5px;

}

.form input[type=submit]:hover,input[type=submit]:focus{
    color: #fff;
    -webkit-box-shadow: inset 0px 46px 0px 0px #008B45; 
    -moz-box-shadow:    inset 0px 46px 0px 0px rgba(0,139,0,1);

}


/* === Copyright === */
.copyright {
    margin-top: 20px;
    text-align: center;
}

.copyright p, a {
    color: #828078;
    font-size: 12px;
    text-decoration: none;
    transition: color 0.3s ease-out;
}

.copyright a:hover {
    color: #32CD32;
}