
/* 
    Created on : 03/11/2014, 15:17:19
    Author     : Elisiany Oliveira
*/

/*@import "http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css";*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

* {
    margin: 0 auto;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "Open Sans", Tahoma, Verdana, sans-serif;
    font-size: 14px;
}

div#container {
    width: 100%;
    height: 100%;
}
/* Menu */
div#container div#menu {
    display: table;
    height: 100%;
    position: fixed;
    background: #111;
}
div#container div#menu button#bt-menu {
    background-image: url(../img/icons/menu-icon2.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #111;
    border: none;
    outline: none;
    padding: 20px;
    position: relative;
    float: right;
    margin: 10px;
    cursor: pointer;
}
div#container div#menu ul {
    width: 0px;
    font-size: 0px;
    overflow: hidden;
    zoom: 1;
    clear: both;
    margin-left: 0;
    transition: width 0.1s linear 0.1s;
    -webkit-transition: width 0.1s linear 0.1s;
    -moz-transition: width 0.1s linear 0.1s;
}
div#container div#menu ul.show {
    width: 250px;
    font-size: 13px;
}
div#container div#menu ul li {
    width: 100%;
}
div#container div#menu ul li a#link-home {
    padding: 30%;
    margin: 10px 15%;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/logo/sigpronovacorbranco.png);
}
div#container div#menu ul li a#link-home h1 {
    display: none;
}
div#container div#menu ul li:not(:first-child) a {
    width: 100%;
    padding: 4%;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-align: left;

    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    transition: background 0.5s;
}

div#container div#menu ul li:not(:first-child) a:focus,
div#container div#menu ul li:not(:first-child) a:hover {
    /*background-color: #3D8840;*/
    background-color: #fb9351;
}
div#container div#menu ul li:not(:first-child) a span {
    vertical-align: middle;
}
div#container div#menu ul li:not(:first-child) a span.icon {
    display: inline-block;
    width: 15pt;
    height: 15pt;
    margin-right: 10pt;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
div#container div#menu ul li:not(:first-child) a#link-buscar span.icon {
    background-image: url(../img/icons/buscar.svg);
}
div#container div#menu ul li:not(:first-child) a#link-novo-processo span.icon {
    background-image: url(../img/icons/novo.svg);
}
div#container div#menu ul li:not(:first-child) a#link-entrada span.icon {
    background-image: url(../img/icons/entrada.svg);
}
div#container div#menu ul li:not(:first-child) a#link-pendente span.icon {
    background-image: url(../img/icons/pendente.svg);
}
div#container div#menu ul li:not(:first-child) a#link-saida span.icon {
    background-image: url(../img/icons/saida.svg);
}
div#container div#menu ul li:not(:first-child) a#link-sair span.icon {
    background-image: url(../img/icons/sair.svg);
}

/* Conte?do */
div#container div#content {
    box-sizing: border-box;
    width: 100%;
    padding: 2%;
    padding-left: 80px;
    margin-right: 0;
    min-height: 100%;
    background: #fff;

    transition: padding 0.1s linear 0.1s;
    -webkit-transition: padding 0.1s linear 0.1s;
    -moz-transition: padding 0.1s linear 0.1s;
}
div#container div#content.resize {
    padding-left: 270px;
}

