/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/11/2014, 13:35:06
    Author     : elisiany
*/

body{
    margin: 0;
    padding: 0;
}
#topo{
    color: #FFFFFF;
    width: 100%;
    height: 30px;
    background-color: #269abc;
}
#principal{
    width: 100%;
}
#esquerda{
    color: #FFFFFF;
    width: 30%;
    height: 100px;
    background-color: #32CD32;
    float: left;
}
#esquerda ul{
    list-style-type: none;
}
#esquerda ul li a{
    text-decoration: none;
    color: #FFF;
}
#esquerda ul li a:hover{
    text-decoration: underline;
}
#direita{
    color: #FFFFFF;
    width: 70%;
    height: 100px;
    background-color: #555555;
    float: right;
}
#rodape{
    color: #FFFFFF;
    clear: both;
    height: 30px;
    background-color: #c7254e; 
}